<%= link_to "<i class='fa-solid fa-angles-left'></i>".html_safe, lists_path%>

<h1>
<%= @list.name %> List
</h1>

<ul>
  <% @movies.each do |movie| %>
  <li>
    <img src="<%= movie.poster_url %>" alt="<%= movie.title %> Poster" style="width: 100px">
    <h3><%= movie.title %></h3>
    <p><%= movie.bookmarks.find_by(list_id: params[:id]).comment %></p>
    <%= link_to "<i class='fa-solid fa-delete-left fa-lg' style='color: #f06f19;'></i>".html_safe, bookmark_path({bookmark_id: movie.bookmarks.find_by(list_id: params[:id])} ), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </li>
  <% end %>
</ul>

<%= link_to "Add new movie to #{@list.name}", new_list_bookmark_path(@list.id) %>
